<!-- Start Detail Card -->
<div class="col-sm-4 col-xs-12 pt-2">
    <div class="card">
        <div class="card-header">Details</div>
        <div class="card-body container">
            <div class="row">
            {%- if page.layout == "attack_tactics" -%}
                <div class="card-data col-sm-12" id="card-id">
                    <span class="font-weight-bold card-title card-value">ATT&CK ID:</span>
                    <span class="card-value">
                        <a href="https://attack.mitre.org/tactics/{{ page._id }}">{{ page._id }}</a>
                    </span>
                </div>
            {%- elsif page.layout == "attack_groups" -%}
                <div class="card-data col-sm-12" id="card-id">
                    <span class="font-weight-bold card-title card-value">ATT&CK ID:</span>
                    <span class="card-value">
                        <a href="https://attack.mitre.org/groups/{{ page._id }}">{{ page._id }}</a>
                    </span>
                </div>
            {%- else -%}
                <div class="card-data col-sm-12" id="card-id">
                    <span class="font-weight-bold card-title card-value">ID:</span>
                    <span class="card-value">{{ page._id }}</span>

                </div>
            {%- endif -%}
            </div>
            <div class="row">
            {%- if page.layout == "attack_groups" -%}
                <div class="card-data col-sm-12" id="card-groups">
                    <span class="font-weight-bold card-title">Associated Groups:&nbsp;</span>
                    <span class="card-value">{{ page.aliases }}</span>
                </div>
            </div>
            <div class="row">
                <div class="card-data col-sm-12" id="card-note">
                    <span class="font-weight-bold card-title">Note:&nbsp;</span>
                    <span class="card-value">This page uses Adversary Group data from MITRE ATT&CK.</span>
                </div>
            {%- elsif page.layout == "goals" -%}
                <div class="card-data col-sm-12" id="card-goals">
                    <span class="font-weight-bold card-title">Type:&nbsp;</span>
                    <span class="card-value">{{ site.data.goal_details[page._id].type}}&nbsp;</span><br>
                </div>
            {%- elsif page.layout == "approaches" -%}
                <div class="card-data col-sm-12" id="card-approaches">
                    <span class="font-weight-bold card-title">Type:&nbsp;</span>
                    <span class="card-value">{{ site.data.approach_details[page._id].type}}</span><br>
                       <span class="font-weight-bold card-title">Goals:&nbsp;</span>

                    {%- for goal_id in site.data.approach_details[page._id].goals -%}
                   
                    
                        <span class="card-value">
                        
                            
                            <a href="{{ site.baseurl }}/goals/{{ goal_id}}">{{ site.data.goal_details[goal_id].name }}</a>
                        {%- if forloop.last == false -%}
                        ,&nbsp;
                        {%- endif -%}
                        </span>
                    
                         {%- endfor -%}
                    </span>
                    <br>
                    
                </div>
          
            {%- elsif page.layout == "activities"" -%}
                <div class="card-data col-sm-12" id="card-approaches">
                    <span class="font-weight-bold card-title">Type:&nbsp;</span>
                    <span class="card-value">{{ site.data.activity_details[page._id].type}}&nbsp;</span><br>
                       <span class="font-weight-bold card-title">Goals:&nbsp;</span>
                    {%- for goal_id in site.data.activity_details[page._id].goals -%}
                   
                    
                        <span class="card-value">
                        
                            
                            <a href="{{ site.baseurl }}/goals/{{ approach.id }}">{{ site.data.goal_details[goal_id].name }}</a>
                        {%- if forloop.last == false -%}
                        ,&nbsp;
                        {%- endif -%}
                        </span>
                    
                         {%- endfor -%}
                    </span>
                    <br>
                    <span class="font-weight-bold card-title">Approaches:&nbsp;</span>
                    {%- for approach_id in site.data.activity_details[page._id].approaches -%}
                        <span class="card-value">

                            <a href="{{ site.baseurl }}/approaches/{{ approach_id }}">{{ site.data.approach_details[approach_id].name }}</a>
                        {%- if forloop.last == false -%}
                        ,&nbsp;
                        {%- endif -%}
                        </span>
                    {%- endfor -%}
                    </span>
                </div>
            {%- endif -%}
            </div>
        </div>
    </div>
</div>
<!-- End Detail Card -->