


            <!-- ENDSEARCH -->
            </div>
            <!-- End Main Content Div -->
            <!-- START Bootstrap-Cookie-Alert -->
            <div class="alert text-center tou-alert" role="alert">
                By accessing and using this site, you acknowledge that you have read, understood, and agree to be bound
                by the <a href="{{ site.baseurl }}/resources/terms-of-use" target="_blank">Terms of Use</a> and
                <a href="{{ site.baseurl }}/resources/privacy" target="_blank">Privacy Policy</a>.
                <button type="button" class="btn btn-primary btn-sm accept-tou">Ok</button>
            </div>
            <!-- END Bootstrap-Cookie-Alert -->
            <!-- Start Scripts -->
            <script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
            <script src="{{ site.baseurl }}/assets/js/lunr.js"></script>
            <script src="{{ site.baseurl }}/assets/js/site.js"></script>
            <script src="{{ site.baseurl }}/assets/js/search.js"></script>
            <script src="{{ site.baseurl }}/assets/js/tou_accept.js"></script>
            <!-- End Scripts -->
            <!-- Start Search Modal -->
            <div id="search-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="serchModalLabel">Search Results</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Link</th>
                                <th>Preview</th>
                            </tr>
                        </thead>
                        <tbody id="search-results"></tbody>
                    </table>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- End Search Modal -->
        </div>
        <!-- End Content Container -->
        <!-- Start Footer -->
        <footer class="footer p-3 bg-primary footer-expand-lg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-2">
                        <div class="footer-center-responsive my-auto">
                            <a href="https://www.mitre.org" target="_blank" rel="noopener" aria-label="MITRE">
                                <img src="{{ site.baseurl }}/assets/img/mitrelogowhiteontrans.gif" class="mitre-logo-wtrans">
                            </a>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 footer-responsive-break"></div>
                    <div class="col-8 col-sm-8 text-center center">
                        <p>
                            <strong>
                                Copyright © 2021, The MITRE Corporation. MITRE ATT&CK and ATT&CK are registered trademarks of The MITRE Corporation.
                            </strong>
                        </p>
                        <div class="row">
                            <div class="col text-right">
                                <strong>
                                    <a href="{{ site.baseurl }}/resources/privacy" class="footer-link">Privacy Policy</a>
                                </strong>
                            </div>
                            <div class="col text-left">
                                <strong>
                                    <a href="{{ site.baseurl }}/resources/terms-of-use" class="footer-link">Terms of Use</a>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 p-2 footer-responsive-break"></div>
                    <div class="col">
                        <div class="footer-float-right-responsive">
                            <div class="mb-1">
                                <a href="{{ site.baseurl }}/resources/contact" class="btn btn-primary w-100">
                                    <b>Connect with Us</b>
                                </a>
                            </div>
                            <div class="mb-1">
                                <a href="https://twitter.com/mitrecorp" class="btn btn-primary w-100">
                                    <!-- <i class="fa fa-twitter"></i> -->
                                    <img src="{{ site.baseurl }}/assets/img/twitter.png" class="mr-1 twitter-icon">
                                    <b>@MITREcorp</b>
                                </a>
                            </div>
                            <div class="mb-1">
                                <a href="https://twitter.com/mitreattack" class="btn btn-primary w-100">
                                    <!-- <i class="fa fa-twitter"></i> -->
                                    <img src="{{ site.baseurl }}/assets/img/twitter.png" class="mr-1 twitter-icon">
                                    <b>@MITREattack</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
    <!-- End Body Container -->
</body>
<!-- End Body -->
</html>
