{%- include header.html -%}
{%- include nav.html -%}
{%- include side_nav.html -%}
{%- include breadcrumb.html -%}
<!-- Start Content -->
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1>{{ page._name }}</h1>
        <p>
          {{ page.description }}
          <br />
          <br />
          {{ page.long_description }}
        </p>
    </div>
    {%- include detail_card.html -%}
</div>
<h2>Activities</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr><th>Activity Name</th><th>Description</th><th>ID</th></tr>
    </thead>
    <tbody>
         {%- for activity_id in site.data.approach_details[page._id].activities -%}
            <tr>
                <td><a href="{{ site.baseurl }}/activities/{{activity_id}}"> {{ site.data.activity_details[activity_id].name}}</a></td>
                <td>{{ site.data.activity_details[activity_id].description }}</td>
                <td>{{ activity_id}}</td>
            </tr>
        {%- endfor -%}
    </tbody>
</table>

<!-- End Content -->

{%- include footer.html -%}
