---
title: {{ page._name }}
---
{%- include header.html -%}
{%- include nav.html -%}
{%- include side_nav.html -%}
{%- include breadcrumb.html -%}
<!-- Start Content -->
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8">
    <h1>Mapping To {{ page._name }}</h1>
    <p>
      {%- if page.description -%}
      {{ page.description }}
      <br />
      <br />
      {%- endif -%}
      {%- if page.long_description -%}
      {{ page.long_description }}
      {%- else -%}

        When an adversary enagages in a specific behavior, they are vulnerable to expose an unintended weakness. By looking at each ATT&CK activity, we can examine the weaknesses revealed and identify an engagement activity or activities to exploit this weakness. The following table outlines the Adversary Vulnerabilities and Engagement Activities that are available to the defender when the adversary engages in {{ page._name }} behaviors.
      
      {%- endif -%}
    </p>
  </div>
  {%- include detail_card.html -%}
</div>
</br>
<table class="table table-bordered table-hover">
  <thead>
    <th>ATT&CK® Technique<img class="external-icon" src="{{ site.baseurl }}/assets/img/external_link.png" /></th>
    <th>Adversary Vulnerability</th>
    <th>Engagement Activity</th>
    <th>Engagement Activity Description</th>
  </thead>
  <tbody>
  {%- for row in site.data.attack_mapping -%}
  
    {%- for technique in site.data.activity_details[row.eac_id].attack_techniques -%}

    {%- if technique.name == row.attack_technique -%}
    {%- for tactic in technique.attack_tactics -%}
    {%- assign page_tactic =page._name| downcase | replace: " ", "-" -%}
    {%- if tactic == page_tactic -%}
    {%- assign activtiy = site.data.activities | where: "name", row.eac | first -%}
    <tr>
      <td>
        <a href="https://attack.mitre.org/techniques/{{ row.attack_id }}">

          {{ row.attack_technique }} 

        </a>
      </td>
      <td>{{ row.eav }}</td>
      <td>
        <a href="{{ site.baseurl }}/activities/{{activtiy.id}}">{{ row.eac }}</a>
      </td>
      <td>{{ activtiy.description }}</td>
    </tr>
    {%- endif -%}
    {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
  {%- if has_rows != 1 -%}
    <tr style="text-align: center;">
      <td colspan="100%">
      <i>Stay tuned for more mappings with this tactic.</i>
      </td>
    </tr>
  {%- endif -%}
  </tbody>
</table>
<!-- End Content -->

{%- include footer.html -%}