{%- include header.html -%}
{%- include nav.html -%}
{%- include side_nav.html -%}
{%- include breadcrumb.html -%}
<!-- Start Content -->
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
  <div class="col-sm-4 col-xs-12 pr-lg-5">
    <table class="table engage-matrix table-bordered table-responsive" style="border-radius:10px;">
      <thead>
        <tr><th colspan="2">Legend</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Engagement Actions Taken Against Your Adversary</td>
          <td>White</td>
        </tr>
        <tr>
          <td class="support">Strategic Actions Taken to Support Operational Strategy</td>
          <td class="support">Gray</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container-fluid pt-4">
  <div class="row flex-nowrap">
    <div class="col-12">
      <div class="table-responsive">
      <table class="table engage-matrix table-bordered">
        <thead>
          <tr>
            <th data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}'
                title="{{ site.data.goals[3].description }}">
              <a href="{{ site.baseurl }}/goals/{{site.data.goals[3].id}}">{{ site.data.goals[3].name }}</a>
            </th>
            <th class="empty"><!-- empty gap --></th>
            <th colspan="2" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ site.data.goals[0].description }}">
              <a href="{{ site.baseurl }}/goals/{{site.data.goals[0].id}}">{{ site.data.goals[0].name }}</a>
            </th>
            <th colspan="3" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ site.data.goals[1].description }}">
              <a href="{{ site.baseurl }}/goals/{{site.data.goals[1].id}}">{{ site.data.goals[1].name }}</a>
            </th>
            <th colspan="2" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ site.data.goals[2].description }}">
              <a href="{{ site.baseurl }}/goals/{{site.data.goals[2].id}}">{{ site.data.goals[2].name }}</a>
            </th>
            <th class="empty"><!-- empty gap --></th>
            <th data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ site.data.goals[4].description }}">
              <a href="{{ site.baseurl }}/goals/{{site.data.goals[4].id}}">{{ site.data.goals[4].name }}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {%- for row in site.data.approach_matrix -%}
          {% assign engagement = row | slice:0, 7 %}
          {% assign prepare = row | slice:7 %}
          {% assign understand = row | slice:8 %}
          {%- if forloop.index == 1 -%}
          <tr>
            {% assign h_id = prepare[0][0] %}
            {% assign h_description = site.data.approaches_details[h_id].description %}
            <td class="approach" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ h_description }}">
              <a href="{{ site.baseurl }}/approaches/{{prepare[0][0]}}">{{ prepare[0][1] }}</a>
            </td>
            <td class="empty"><!-- empty gap --></td>
            {%- for h in engagement -%}
            {% assign h_id = h[0] %}
            {% assign h_description = site.data.approaches_details[h_id].description %}
            <td class="approach" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ h_description }}">
              <a href="{{ site.baseurl }}/approaches/{{h[0]}}">{{ h[1] }}</a>
            </td>
            {%- endfor -%}
            <td class="empty"><!-- empty gap --></td>
            {% assign h_id = understand[0][0] %}
            {% assign h_description = site.data.approaches_details[h_id].description %}
            <td class="approach" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ h_description }}">
              <a href="{{ site.baseurl }}/approaches/{{understand[0][0]}}">{{ understand[0][1] }}</a>
            </td>
          </tr>
          {%- else -%}
          <tr>
            {%- if prepare[0] != nil -%}
            <td class="support" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ prepare[0].description }}">
              <a href="{{ site.baseurl }}/activities/{{prepare[0].id}}">{{ prepare[0].name }}</a>
            </td>
            {%- else -%}
            <td class="empty"><!-- empty cell --></td>
            {%- endif -%}
            <td class="empty"><!-- empty gap --></td>
            {%- for t in engagement -%}
            {%- if t != nil -%}
            <td data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ t.description }}">
              <a href="{{ site.baseurl }}/activities/{{t.id}}">{{ t.name }}</a>
            </td>
            {%- else -%}
            <td class="empty"></td>
            {%- endif -%}
            {%- endfor -%}
            <td class="empty"><!-- empty gap --></td>
            {%- if understand[0] != nil -%}
            <td class="support" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100}' data-placement="bottom"
                title="{{ understand[0].description }}">
              <a href="{{ site.baseurl }}/activities/{{understand[0].id}}">{{ understand[0].name }}</a>
            </td>
            {%- else -%}
            <td class="empty"></td>
            {%- endif -%}
          </tr>
          {%- endif -%}
          {%- endfor -%}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<br><br>
<!-- End Content -->

{%- include footer.html -%}